# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Makefile.in
/Makefile
/config.sub
/aclocal.m4
/config.h.in
/depcomp
/config.log
/stamp-h1
/config.h
/compile
/install-sh
/config.status
/ltmain.sh
/config.guess
/configure
/libtool
/missing
/src/geodata-0.1.0.pc
/src/.libs/
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/libtool.m4
/m4/ltsugar.m4
/autom4te.cache/
/nbproject/
/src/Makefile
/src/Makefile.in
/src/configure.ac
/PKGBUILD
/pkg/
/src/.deps/libgeodata_la-Weather.Tpo
/src/.deps/
